<h1><%=@article.title %></h1>
<p>
  Tags:
  <% @article.tags.each { |t| %>
   <%= link_to t.name , tag_path(t) %>

  <% } %>

</p>
<body><%=@article.body %></body>
<p><%= image_tag @article.image.url %></p>


<p></p>
<hr>

<h3>Comments <%= @article.comments.size %></h3>
<%= render partial: "articles/comment", collection: @article.comments %>

<%= render partial: "comments/form" %>
<p>
</p>



<br>

<%= link_to "<<back to list of Articles", articles_path %>
